$color-back: #001835;       // light brown
$color-button: #001835;     // darker brown
$color-hover: #187baf;      // neon blue, tuquois
$color-neon: #187BAF;      // neon blue, tuquois
$color-error: #DD3333;      // not-too-bright red
