@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import "colors_modern";
@import "mixins";

body {
	width: 100%;
	font-family: 'Baloo Chettan 2', cursive;
  color: white;
  background: $color-back;
	margin: 8px;
}
/* Buttons */
button.cribbage-button {
  width: 90px;
  height: 30px;
  padding: 4px;
  margin: 3px;
  color: white;
  background: $color-button;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
  font-size: .6rem;
	font-family: inherit;
}
button.cribbage-button:hover {
  border: $color-hover 1px solid;
	border-radius: 6px;
}
/* Divs */
div#root {
	min-width: 395px;
}
div.player-hand {
  justify-content: space-between;
	@include section-border(3px)
}
div.cards-section {
  width: 100%;
}
div.cribbage-buttons {
  width: 100%;
	@include section-border(3px);
}
div.full-hand-cardsLeft {
  width: 90%;
}
div.result-image {
  width: 90%;
}
div.result-text {
  width: 90%;
}
div.cribbage-options {
	@include section-border(3px);
}
div.custom-selects {
	clear: both;
	height: 0px;
	overflow-y: hidden;
	transition: height .4s linear;
}
div.custom-selects.expanded {
	height: 85px
}
div.cribbage-results {
	height: 100%;
	@include section-border(3px);
}
div.app {
	max-width: 380px;
}
div.CustomHandForm {
  width: 90%;
  margin: 50px 10%;
}
div.CustomHandForm > label {
   display:block;
}
div#card-options {
  display: flex;
  width: 100%;
}
div.card-option {
  width: 63px;
  margin: 3px;
}
div.card-option:nth-last-child(1) {
  margin-left: auto;
}
div.cribbage-points {
  display: inline-block;
  height: inherit;
  width: 40%;
  margin-left: auto;
  text-align: left;
  vertical-align: middle;
 }
div.cribbage-points > span {
	font-size: .9rem;
	line-height: 45px;
}
div.icon{
	position: absolute;
	background-image: url("./../images/icon_small.jpg");
	background-repeat: no-repeat;
	width: 50px;
	height: 48px;
	top: 0px;
	left: -336px;
}
/* Headers */
header.cribbage-header {
	//background-image: url("./../images/cribbage_header_small.jpg");
	//background-repeat: no-repeat;
	margin: 0 0 4px 0;
	max-width: 396px;
	height: 62px;
	text-align: center;
	position: relative;
}
header > p.cribbage-text {
	color: white;
}
/* images */
img.card {
	@include card-image(77px, 55px)
	margin: 2px;
	padding: 0px;
	float: left;
	border: 3px solid $color-back;
}
img.c-card {
	@include card-image(77px, 55px)
  padding: 0px;
  margin: 2px;
  float: right;
	border: 3px solid $color-back;
}
img.result-card {
	@include card-image(42px, 30px)
  margin: 2px;
  float: left;
}
/* Paragraphs */
p.cribbage-text {
  margin: .9rem;
	font-size: 1rem;
  color: white;
}
p.connection-error {
	margin: .9rem;
	padding: 1rem;
	font-size: .9rem;
	color: #EEE;
	border-radius: 8px;
	background-color: $color-error;
}
/* Selects */
select.custom-select {
	color: white;
	display: block;
  padding: 2px;
  outline: none;
	border-radius: 8px;
	background: $color-button;
  margin: 4px 7px 4px 1px;
  font-size: .6rem;
  width: 60px;
  height: 30px;
  line-height: 1;
}
select.custom:hover {
border: 5px solid red;
}
select.custom-select:hover {
	border: $color-hover 1px solid;
}
/* About page */
div.logo {
	margin-left:auto;
	margin-right:auto;
	width: 40%;
}

div.about {
	padding: 3em;
}

div.about a:visited {
	text-decoration: none;
	color: white;
}
div.about a:link {
	text-decoration: none;
	color: white;
}

/* Navigation */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 1.5em;
	padding: 0px;
	margin: 0px;
	min-height: 2em;
	background: $color-back;
	color: white;
}

ul.nav-link {
	width: 40%;
	display: flex;
	justify-content:space-around;
	align-items: center;
	list-style: none;
}

ul.nav-link>a {
	text-decoration: none;
}

img.logo {
	height: 33%;
	width: 33%;
}

/* Miscellaneous */
.hand {
	margin-right: 4px;
	margin-left: 4px
}
h1.cribbage-text {
  font-weight: bold;
	margin: .2rem;
	font-size: 1rem;
  color: white;
}
label.cribbage-checkbox {
    font-size: .9rem;
    font-weight: normal;
		margin-left: 5px;
		display:block;
}
section.cribbage-result {
  display: flex;
	margin: 5px;
}


/* #### Tablets Portrait or Landscape #### */
@media screen and (min-width: 768px) and (max-width: 900px){
	/* Buttons */
	button.cribbage-button {
	  width: 112px;
	  height: 30px;
	  padding: 6px;
	  margin: 7px;
	  font-size: .8rem;
	  border: 1px solid white;
		border-radius: 8px;
	}
	button.cribbage-button:hover {
		border-radius: 8px;
	}
	/* Divs */
	div.card-option {
    width: 99px;
  }
	div.app {
		max-width: 640px;
	}
	div.icon{
		position: absolute;
		background-image: url("./../images/icon_medium.jpg");
		background-repeat: no-repeat;
		width: 86px;
		height: 84px;
		top: 0px;
		left: -400px;
	}
	div.cribbage-points > span {
		font-size: .9rem;
		line-height: 64px;
	}
	/* Headers */
	header.cribbage-header {
		// background-image: url("./../images/cribbage_header_medium.jpg");
		// background-repeat: no-repeat;
		max-width: 640px;
		height: 84px;
		text-align: center;
		padding: 8px 0;
		position: relative;
	}
	/* Images */
	img.card {
		@include card-image(135px, 96px)
    margin: 3px;
  }
  img.c-card {
		@include card-image(135px, 96px)
    margin: 4px;
  }
  img.result-card {
		@include card-image(67px, 48px)
    margin: 3px;
  }
	/* Paragraphs */
	p.cribbage-text {
	  margin: 1rem;
		font-size: 1.1rem;
	  color: white;
	}
	/* Selects */
	select.custom-select {
	  width: 96px;
	  font-size: .7rem;
	}
	/* Miscellaneous */
	h1.cribbage-text {
		margin: 0.4rem;
		font-size: 1.5rem;
  }
	label.cribbage-checkbox {
    font-size: .9rem;
  }

}

/* #### Desktops #### */
@media screen and (min-width: 901px){
	/* Buttons */
	button.cribbage-button {
		width: 150px;
		height: 40px;
		padding: 8px;
		margin: 10px;
		font-size: 1rem;
		border: 1px solid white;
		border-radius: 10px;
	}
	button.cribbage-button:hover {
		border-radius: 10px;
	}
	button.cribbage-button {
    width: 150px;
    height: 40px;
    padding: 8px;
    margin: 10px;
    font-size: 1rem;
		border: 1px solid white;
		border-radius: 10px;
  }
	button.cribbage-button:hover {
	 	border-radius: 10px;
	}
	/* Divs */
	div.app {
		max-width: 820px;
	}
	div.cribbage-points > span {
		font-size: 1rem;
		line-height: 75px;
	}
	div.card-option {
    width: 134px;
  }
	div.icon{
		position: absolute;
		background-image: url("./../images/icon_large.jpg");
		background-repeat: no-repeat;
		width: 110px;
		height: 108px;
		top: 0px;
		left: -300px;
	}
	/* Header */
	header.cribbage-header {
		// background-image: url("./../images/cribbage_header_large.jpg");
		// background-repeat: no-repeat;
		max-width: 820px;
		height: 108px;
		text-align: center;
		padding: 10px 0;
		position: relative;
	}
	/* Images */
	img.card {
    @include card-image(180px, 128px)
  }
  img.c-card {
		@include card-image(180px, 128px)
  }
  img.result-card {
		@include card-image(90px, 64px)
    margin: 2px;
  }
	/* Paragraphs */
	p.cribbage-text {
	  margin: 1.0rem;
		font-size: 1.2rem;
	  color: white;
	}
	/* Selects */
	select.custom-select {
    width: 128px;
    font-size: .8rem;
  }
	/* Miscellaneous */
	h1.cribbage-text {
    margin: .3rem;
		font-size: 2rem;
  }
	label.cribbage-checkbox {
    font-size: 1.2rem;
  }
}
